:host {
  display: block;
  position: absolute;
  width: 10%;
  height: 10%;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: .3vh;
  }

  &::before { transform: translate(-50%, -50%) rotate(45deg); }
  &::after { transform: translate(-50%, -50%) rotate(-45deg); }
  
  &.miss::before, &.miss::after { background-color: gray; }
  &.hit::before, &.hit::after { background-color: red; }
  &.sunk::before, &.sunk::after { background-color: black; }
}
