.map-container {
  width: calc(101% * 10 / 12);
  height: calc(101% * 10 / 12);
  position: relative;
  top: calc(100% / 8);
  left: calc(100% / 8);

  .row-markings, .column-markings {
    position: absolute;
    display: flex;
    justify-content: space-between;

    div {
      font-size: 2vh;
      justify-content: center;
    }
  }

  .row-markings {
    flex-direction: column;
    height: 100%;
    left: -7%;

    div {
      height: calc(100% / 10);
      text-align: right;
      display: flex;
      flex-direction: column;
    }
  }

  .column-markings {
    flex-direction: row;
    width: 100%;
    top: -7%;

    div {
      width: calc(100% / 10);
      text-align: center;
    }
  }
}